# Seconda lezione

In [1]:
# This cell loads some html style files (it may be deleted/ignored) 
from IPython.core.display import HTML
with open( '../lezioni/style/custom.css', 'r' ) as f: html_style = f.read()
HTML( html_style )

Leggiamo la stessa tabella della lezione scorsa:

In [6]:
import pandas as pd
df = pd.read_csv('../dati/Cork_Airport.csv', 
                 skiprows=24,
                )
df.tail(2) # questo solo per controllo

,date,ind,maxtp,ind.1,mintp,igmin,gmin,ind.2,rain,cbl,...,ind.5,hg,sun,dos,soil,pe,evap,smd_wd,smd_md,smd_pd
20848,30-jan-2019,0,3.4,1,-2.1,1,-2.0,0,1.6,976.5,...,0,13,3.9,3,2.600,0.3,0.4,0.0,-1.3,-10.0
20849,31-jan-2019,0,6.4,0,1.3,1,-8.8,0,15.0,965.3,...,0,31,2.2,0,3.300,0.6,0.8,0.0,-10.0,-10.0

Eliminiamo le colonne che non ci interessano:

In [7]:
df1 = df[ ['date', 'maxtp', 'mintp'] ]
df1.head(2) # questo solo per controllo

          date  maxtp  mintp
0  01-jan-1962    2.8   -2.5
1  02-jan-1962    2.8   -3.7

## Filtrare righe di un dataframe