Leggere la tabella `/dati/escursione_termica.csv` in un dataframe `df`. Stampare le prime 3 righe.

In [1]:
import pandas as pd
df = pd.read_csv('../dati/escursione_termica.csv',
                usecols = ['date', 'max-min'],
                )
df.head()

          date  max-min
0  01-jan-1962     41.5
1  02-jan-1962     43.7
2  03-jan-1962     43.0
3  04-jan-1962     42.8
4  05-jan-1962     47.7

La seconda colonna contiene l'escursione termica in gradi Fahrenheit.

Trasformare l'escursione termica in gradi Celsius. Arrotondare i valori a una cifra decimale.

N.B. La formula è

$\qquad\dfrac59\big(T_F - 32\big) =\ T_C$

dove

$\qquad T_C$ temperatura in °C

$\qquad T_F$ temperatura in °F

In [2]:
f = lambda x: round( (5/9) * (x -32), 1)
df['Celsius'] = df['max-min'].map(f)
df.head()

          date  max-min  Celsius
0  01-jan-1962     41.5      5.3
1  02-jan-1962     43.7      6.5
2  03-jan-1962     43.0      6.1
3  04-jan-1962     42.8      6.0
4  05-jan-1962     47.7      8.7

Trovare l'escursione termica massima registrata. 

N.B. se `x` è un vettore numerico il massimo si ottiene con `x.max()`.

In [3]:
max_escursione = df['Celsius'].max()
max_escursione

15.0

Costruire un dataframe `df1` con i giorni in cui l'escursione è stata di almeno 14°C

In [4]:
mask = df['Celsius'] > 14
df1 = df[mask]
df1.head()

             date  max-min  Celsius
623   16-sep-1963     59.0     15.0
1611  31-may-1966     57.7     14.3
6012  18-jun-1978     57.6     14.2
8243  27-jul-1984     57.4     14.1
9669  22-jun-1988     57.4     14.1

Costruire un dataframe `df2` che contiene solo le giornate in cui l'escursione è a distanza ±1°C dalla minima minima o dalla massima massima temperatura registrata. (Rileggere la consegna un paio di volte!)

In [5]:
mask1 = df['Celsius'] >= max_escursione - 1 
min_escursione =  df['Celsius'].min()
mask2 = df['Celsius'] <= min_escursione + 1 
df2 = df[mask1 | mask2]
df2

              date  max-min  Celsius
5      06-jan-1962     34.9      1.6
293    21-oct-1962     34.7      1.5
313    10-nov-1962     33.8      1.0
331    28-nov-1962     34.5      1.4
332    29-nov-1962     34.9      1.6
335    02-dec-1962     34.9      1.6
366    02-jan-1963     34.5      1.4
367    03-jan-1963     34.5      1.4
368    04-jan-1963     34.9      1.6
372    08-jan-1963     34.3      1.3
437    14-mar-1963     34.0      1.1
623    16-sep-1963     59.0     15.0
627    20-sep-1963     34.7      1.5
665    28-oct-1963     34.0      1.1
702    04-dec-1963     34.5      1.4
704    06-dec-1963     34.9      1.6
731    02-jan-1964     34.2      1.2
732    03-jan-1964     33.8      1.0
734    05-jan-1964     34.7      1.5
735    06-jan-1964     34.5      1.4
745    16-jan-1964     34.5      1.4
780    20-feb-1964     34.9      1.6
1030   27-oct-1964     34.9      1.6
1056   22-nov-1964     34.5      1.4
1076   12-dec-1964     34.7      1.5
1087   23-dec-1964     34.3      1.3
1102   07-jan-1965     34.7      1.5
1466   06-jan-1966     34.9      1.6
1467   07-jan-1966     34.0      1.1
1473   13-jan-1966     34.5      1.4
...            ...      ...      ...
19292  27-oct-2014     33.4      0.8
19343  17-dec-2014     34.9      1.6
19348  22-dec-2014     34.5      1.4
19671  10-nov-2015     34.0      1.1
19692  01-dec-2015     34.3      1.3
19696  05-dec-2015     34.5      1.4
19707  16-dec-2015     34.7      1.5
19741  19-jan-2016     34.9      1.6
19746  24-jan-2016     33.4      0.8
20000  04-oct-2016     34.2      1.2
20061  04-dec-2016     33.8      1.0
20064  07-dec-2016     34.5      1.4
20112  24-jan-2017     34.7      1.5
20136  17-feb-2017     34.7      1.5
20157  10-mar-2017     34.0      1.1
20176  29-mar-2017     34.7      1.5
20374  13-oct-2017     33.6      0.9
20375  14-oct-2017     34.7      1.5
20426  04-dec-2017     34.9      1.6
20446  24-dec-2017     34.9      1.6
20526  14-mar-2018     34.9      1.6
20771  14-nov-2018     33.1      0.6
20812  25-dec-2018     33.3      0.7
20813  26-dec-2018     34.2      1.2
20814  27-dec-2018     34.0      1.1
20816  29-dec-2018     34.3      1.3
20819  01-jan-2019     34.7      1.5
20820  02-jan-2019     34.2      1.2
20821  03-jan-2019     34.2      1.2
20822  04-jan-2019     34.7      1.5

[426 rows x 3 columns]

# Istruzioni per la consegna su Moodle

* Rinominare il notebook `1_Cognome.Nome`

* Dare il comando `Kernel > Restart & Run All`

* Esportare in formato  `.ipynb` e `.html`  (File > Download as > ... )

* Caricare su Moodle i file `.ipynb` e `.html`.