Leggere la tabella /dati/iris.csv in un dataframe.

Creare una tabella con la media delle lunghezze e larghezza dei petali e dei sepali per le tre specie.

In [11]:
# qui il codice
import pandas as pd
df = pd.read_csv( '../dati/iris.csv' )
gby = df.groupby('species')

Creare una tablella con un riga per specie e in queste righe i valori medi delle lungezze e larghezze dei sepali e dei petali

In [12]:
# qui il codice
mean = gby.mean()
mean

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.418         1.464        0.244
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

Rinominare la prima colonna `msl` per `mean_sepal_length`, e similmente per le altre.

In [13]:
# qui il codice
mean.columns = [ 'msl', 'msw','mpl', 'mpw']
mean

              msl    msw    mpl    mpw
species
setosa      5.006  3.418  1.464  0.244
versicolor  5.936  2.770  4.260  1.326
virginica   6.588  2.974  5.552  2.026

Creare una tablella con un riga per specie e in queste righe i valori della deviazione standard delle lungezze e larghezze dei sepali e dei petali.

In [14]:
# qui il codice
std = gby.std()
std

            sepal_length  sepal_width  petal_length  petal_width
species
setosa          0.352490     0.381024      0.173511     0.107210
versicolor      0.516171     0.313798      0.469911     0.197753
virginica       0.635880     0.322497      0.551895     0.274650

Rinominare la prima colonna `dsl` per `std_sepal_length`, e similmente per le altre.

In [15]:
# qui il codice
std.columns = [ 'dsl', 'dsw','dpl', 'dpw'] 
std

                 dsl       dsw       dpl       dpw
species
setosa      0.352490  0.381024  0.173511  0.107210
versicolor  0.516171  0.313798  0.469911  0.197753
virginica   0.635880  0.322497  0.551895  0.274650

Concatenare le due tabelle.

In [16]:
# qui il codice
mean_std = pd.concat( [mean,std], axis=1 )
mean_std

              msl    msw    mpl    mpw       dsl       dsw       dpl       dpw
species
setosa      5.006  3.418  1.464  0.244  0.352490  0.381024  0.173511  0.107210
versicolor  5.936  2.770  4.260  1.326  0.516171  0.313798  0.469911  0.197753
virginica   6.588  2.974  5.552  2.026  0.635880  0.322497  0.551895  0.274650