# Prima lezione

In [2]:
# RUN THIS CELL: it loads some style files
from IPython.core.display import HTML
with open( '../lezioni/style/custom.css', 'r' ) as f: html_style = f.read()
HTML( html_style )

## Una selezione di linguaggi utili per l'analisi statistica di dati

Considereremo e confronteremo i sequenti 3 linguaggi. Ma ci concentreremo principalmente su `Python`.

`Python` È un linguaggio con un ampio spettro di applicazioni (la prima vesione stabile è del 1990). Va per la maggiore nell'intelligenza artificiale e nelle data sciences, ma ha anche applicazioni web e UI. Ogni abito usa librerie specifiche.

`R` Pensato principalmente per la statistica ed usato principlamente per questo (la prima vesione stabile è del 1990). Per le più elementari funzioni statistiche non è necessario caricare nessumna libreria.

`Julia` Molto recente (versione 0.0 nel 2009, versione 1.0 nel 2018). Tra qualche anno potrebbe superare per diffusione le altre due alternative (almeno nell'ambito calcolo scientifico).

Questi linguaggi sono *open source*. Altri linguaggi con funzionalità silmile, ma proprietari, sono per esempio `Matlab`, `SAS`, `Excel`.

## Che cos'è un IDE

Un Integrated Development Environment (IDE), o ambiente di sviluppo è del sofware che integra un editore, l'interpreted (o il compiler) di un linguaggio di programmazione, il terminale per output, grafico o numerico del programma.

`Jupyter` è, tra l'altro, un IDE. Può essere usato per una miriade di linguaggi di programmazione (si dice che è *language agnositc*). 

Un IDE molto usato per `R` è `Rstudio`. La versione per desktop è molto avanzata. Esiste anche una versione cloud utilizzabile via web.

## Che cos'è Git

`Git` è un protocollo per *version control system*. Serve per registrare l'evoluzione storica di un progetto. Il problema è molto complesso soprattutto se si tratta un progetto decentralizzato con molti collaboratori (anche migliaia). 

`Github` è una repositora pubblica in cui si possono archiviare progetti che usano il protocollo `Git`. Chiunque può col comando `git clone`, clonare un progetto archiviato in `Github`, ovvero creare in locale (sul proprio computer) una copia di quel progetto e svilupparlo indipendentemente.

Se nel frattempo il progetto su `Github` cambia, i campiamenti si possono integrare nella repositoria locale col comando `git pull`.

Se si vuole (e se si ha il permesso) di trascrivere le modifiche fatte in locale sulla repositoria pubblica si usa il comando `git push`.

I comandi `git pull` e `git push` funzionano bene finchè non ci sono conflitti che git non riesce a risorvere automaticamente. Altrimenti git si blocca e chiede all'utente di risolvere/rimuovere manualmente i conflitti.

La repositoria pubblica che contiene il materiale del corso è [github.com/domenicozambella/BioTeIndu19](https://github.com/domenicozambella/BioTeIndu19)

## Utilizzo di librerie in `Python`

Esistono 3 modi di utilizzare una libreria in `Python`. Per esempio per poter usare la libreria `pandas` (per trattare tabelle di dati) possiamo scrivere

In [3]:
import pandas

Però questo obbliga a usare il prefisso `pandas.` ogni volta che si usa una funzione della libreria. Per esempio per usare la funzione  `read_csv` (funzione che legge una tabella si *coma separated values*) dovremmo scrivere `pandas.read_csv`. Questo rischia di rendere poco leggibile il codice. 

Un'alternativa è importare singole funzioni della libreria. Per esempio se si vuole usare la solo la funzione `read_csv` potremmo scrivere

In [4]:
from pandas import read_csv

In questo modo possiamo usare `read_csv` senza prefisso. Però questo è scomodo quando dobbiamo importare molte funzioni e quando non siamo ben sicuri di cosa vogliamo/dobbiamo usare.

Il problema si risolve usando una *wildcary*. Il seguente comando importa (senza prefisso) *tutte* le funzioni della libreria.

In [5]:
from pandas import *

Ma questa soluzione è deprecata perché se usiamo due librerie che definiscono la stessa funzione non siamo sicuri quale stiamo usando.

Un compromesso è usare il comando

In [6]:
import pandas as pd

In questo modo il prefisso da usare per le funzioni della libreria è `pd.` (più breve). Tipicamente ogni libreria ha un abbreviazione standard

## Esempio lettura tabella csv

I dati della tabella `Cork_Airport.csv` che si trovav nella directory `BioTeIndu19/dati`. Questo notebook è nella directory `BioTeIndu19/lezioni` quindi il percorso relativo per arrivare alla tablella è `../dati/Cork_Airport.csv`.

Le prime 24 righe della tabella sono descrizione dei dati quindi dobbiamo saltarle.

In [7]:
df = pd.read_csv("../dati/Cork_Airport.csv", skiprows=24 )
#df
?pd.read_csv

Vogliamo tenere solo le colonne:

`date`    data

`maxtp`  temperatura massima

`mintp`  temperatura minima

`wdsp`   velocità del vento

In [8]:
df = df[ ['date', 'maxtp', 'mintp', 'wdsp'] ]
df.tail(2) # stampiamo le ultime 2 righe del dataframe

              date  maxtp  mintp  wdsp
20848  30-jan-2019    3.4   -2.1   5.0
20849  31-jan-2019    6.4    1.3  10.5

La velocità del vento è in nodi ma noi la vogliamo in km/h. 

Dobbiamo moltiplicare per 1.8552 tutti gli elementi della colonna `wdsp`.

Per convenienza, prima creiamo una copia del dataframe `df` che chiameremo `df1`.

Il metodo `map` applica una funzione a tutti gli elementi di un dataframe. Dobbiamo restringerci alla colonna `wdsp'.

In [9]:
df1 = df.copy()
df1['wdsp_kmh'] = df1['wdsp'].map(lambda x: x*1.8552)
df1.tail(2)

              date  maxtp  mintp  wdsp  wdsp_kmh
20848  30-jan-2019    3.4   -2.1   5.0    9.2760
20849  31-jan-2019    6.4    1.3  10.5   19.4796

Un altro modo è approfittare del fatto che `pandas` interpreta alune semplici operazioni (come addizine e sottrazione) in modo *vettoriale* cioè applicate ad ogni elemento di un vettore (array, serie, ecc.)

In [10]:
df2 = df.copy()
df2[ 'wdsp_kmh' ] = df2[ 'wdsp' ] * 1.8552
df2.tail(2)

              date  maxtp  mintp  wdsp  wdsp_kmh
20848  30-jan-2019    3.4   -2.1   5.0    9.2760
20849  31-jan-2019    6.4    1.3  10.5   19.4796

In [21]:
mask = (df2[ 'wdsp_kmh' ] >= 50)  &  (df2[ 'wdsp_kmh' ] <= 52)
mask = (df2[ 'wdsp_kmh' ] >= 60)  |  (df2[ 'wdsp_kmh' ] <= 3)
df2[ mask]

              date  maxtp  mintp  wdsp  wdsp_kmh
27     28-jan-1962   10.3    7.2   1.2   2.22624
65     07-mar-1962    4.4    0.9  35.2  65.30304
3081   09-jun-1970   23.8   11.8   1.6   2.96832
3085   13-jun-1970   20.1   12.1   1.4   2.59728
3323   06-feb-1971    6.6    4.8   1.5   2.78280
3324   07-feb-1971    7.9    3.1   1.5   2.78280
3543   14-sep-1971   18.4    8.0   1.3   2.41176
3550   21-sep-1971   18.5   12.1   1.6   2.96832
3688   06-feb-1972    6.4    0.2   1.6   2.96832
4007   21-dec-1972    8.6    5.7   1.1   2.04072
4222   24-jul-1973   16.3   11.3   1.4   2.59728
4252   23-aug-1973   19.4   15.1   1.5   2.78280
4438   25-feb-1974   10.3    2.9   1.5   2.78280
4871   04-may-1975   13.7    8.9   1.3   2.41176
7415   21-apr-1982   12.7    7.2   1.5   2.78280
7888   07-aug-1983   22.4   12.5   1.5   2.78280
10261  04-feb-1990   10.9    8.8  35.2  65.30304
13113  26-nov-1997    9.9    5.5   1.5   2.78280
16063  24-dec-2005    8.6    3.4   1.6   2.96832
16742  03-nov-2007   13.6    9.5   1.6   2.96832
18967  06-dec-2013    8.9    6.6   0.0   0.00000

In [12]:
df3 = pd.DataFrame()
df3[ 'date' ] = df[ 'date' ]
df3[ 'max-min' ] = df[ ['maxtp', 'mintp'] 
                     ].apply(lambda x: round(x['maxtp']-x['mintp'], 1),
                             axis=1,
                            )
df3[ 'max-min' ] = df3[ 'max-min' ] * (9/5) + 32 
df3

              date  max-min
0      01-jan-1962    41.54
1      02-jan-1962    43.70
2      03-jan-1962    42.98
3      04-jan-1962    42.80
4      05-jan-1962    47.66
5      06-jan-1962    34.88
6      07-jan-1962    41.36
7      08-jan-1962    46.04
8      09-jan-1962    39.92
9      10-jan-1962    48.20
10     11-jan-1962    40.64
11     12-jan-1962    42.62
12     13-jan-1962    41.18
13     14-jan-1962    42.08
14     15-jan-1962    43.70
15     16-jan-1962    44.06
16     17-jan-1962    43.16
17     18-jan-1962    43.52
18     19-jan-1962    41.72
19     20-jan-1962    38.30
20     21-jan-1962    45.86
21     22-jan-1962    42.98
22     23-jan-1962    47.48
23     24-jan-1962    37.40
24     25-jan-1962    42.26
25     26-jan-1962    38.48
26     27-jan-1962    37.40
27     28-jan-1962    37.58
28     29-jan-1962    36.68
29     30-jan-1962    37.40
...            ...      ...
20820  02-jan-2019    34.16
20821  03-jan-2019    34.16
20822  04-jan-2019    34.70
20823  05-jan-2019    35.78
20824  06-jan-2019    38.12
20825  07-jan-2019    35.42
20826  08-jan-2019    37.22
20827  09-jan-2019    36.50
20828  10-jan-2019    36.32
20829  11-jan-2019    36.50
20830  12-jan-2019    36.14
20831  13-jan-2019    37.94
20832  14-jan-2019    39.56
20833  15-jan-2019    40.64
20834  16-jan-2019    43.16
20835  17-jan-2019    39.92
20836  18-jan-2019    42.26
20837  19-jan-2019    39.56
20838  20-jan-2019    41.54
20839  21-jan-2019    44.06
20840  22-jan-2019    41.18
20841  23-jan-2019    41.36
20842  24-jan-2019    35.60
20843  25-jan-2019    41.18
20844  26-jan-2019    42.08
20845  27-jan-2019    38.12
20846  28-jan-2019    38.84
20847  29-jan-2019    42.80
20848  30-jan-2019    41.90
20849  31-jan-2019    41.18

[20850 rows x 2 columns]

In [13]:
df3.to_csv('../dati/escursione_termica.csv')

In [14]:
df3[ 'max-min' ].max()

59.0

In [15]:
mask = df3[ 'max-min' ] >= 58
df3[mask]

              date  max-min
623    16-sep-1963    59.00
9670   23-jun-1988    58.64
11854  16-jun-1994    58.10

In [16]:
!jupyter nbconvert 1a_lezione.ipynb --to html
!jupyter nbconvert 1a_lezione.ipynb --to pdf

[NbConvertApp] WARNING | pattern '1a_lezione.ipynb' matched no files
This application is used to convert notebook files (*.ipynb) to various other
formats.

WARNING: THE COMMANDLINE INTERFACE MAY CHANGE IN FUTURE RELEASES.

Options
-------

Arguments that take values are actually convenience aliases to full
Configurables, whose aliases are listed on the help line. For more information
on full configurables, see '--help-all'.

--debug
    set log level to logging.DEBUG (maximize logging output)
--generate-config
    generate default config file
-y
    Answer yes to any questions instead of prompting.
--execute
    Execute the notebook prior to export.
--allow-errors
    Continue notebook execution even if one of the cells throws an error and include the error message in the cell output (the default behaviour is to abort conversion). This flag is only relevant if '--execute' was specified, too.
--stdin
    read a single notebook file from stdin. Write the resulting notebook with default basename 'notebook.*'
--stdout
    Write notebook output to stdout instead of files.
--inplace
    Run nbconvert in place, overwriting the existing notebook (only
    relevant when converting to notebook format)
--clear-output
    Clear output of current file and save in place,
    overwriting the existing notebook.
--no-prompt
    Exclude input and output prompts from converted document.
--log-level=<Enum> (Application.log_level)
    Default: 30
    Choices: (0, 10, 20, 30, 40, 50, 'DEBUG', 'INFO', 'WARN', 'ERROR', 'CRITICAL')
    Set the log level by value or name.
--config=<Unicode> (JupyterApp.config_file)
    Default: ''
    Full path of a config file.
--to=<Unicode> (NbConvertApp.export_format)
    Default: 'html'
    The export format to be used, either one of the built-in formats, or a
    dotted object name that represents the import path for an `Exporter` class
--template=<Unicode> (TemplateExporter.template_file)
    Default: ''
    Name of the template file to use
--writer=<DottedObjectName> (NbConvertApp.writer_class)
    Default: 'FilesWriter'
    Writer class used to write the  results of the conversion
--post=<DottedOrNone> (NbConvertApp.postprocessor_class)
    Default: ''
    PostProcessor class used to write the results of the conversion
--output=<Unicode> (NbConvertApp.output_base)
    Default: ''
    overwrite base name use for output files. can only be used when converting
    one notebook at a time.
--output-dir=<Unicode> (FilesWriter.build_directory)
    Default: ''
    Directory to write output(s) to. Defaults to output to the directory of each
    notebook. To recover previous default behaviour (outputting to the current
    working directory) use . as the flag value.
--reveal-prefix=<Unicode> (SlidesExporter.reveal_url_prefix)
    Default: ''
    The URL prefix for reveal.js. This can be a a relative URL for a local copy
    of reveal.js, or point to a CDN.
    For speaker notes to work, a local reveal.js prefix must be used.
--nbformat=<Enum> (NotebookExporter.nbformat_version)
    Default: 4
    Choices: [1, 2, 3, 4]
    The nbformat version to write. Use this to downgrade notebooks.

To see all available configurables, use `--help-all`

Examples
--------

    The simplest way to use nbconvert is

    > jupyter nbconvert mynotebook.ipynb

    which will convert mynotebook.ipynb to the default format (probably HTML).

    You can specify the export format with `--to`.
    Options include ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'rst', 'script', 'slides']

    > jupyter nbconvert --to latex mynotebook.ipynb

    Both HTML and LaTeX support multiple output templates. LaTeX includes
    'base', 'article' and 'report'.  HTML includes 'basic' and 'full'. You
    can specify the flavor of the format used.

    > jupyter nbconvert --to html --template basic mynotebook.ipynb

    You can also pipe the output to stdout, rather than a file

    > jupyter nbconvert mynotebook.ipynb --stdout

    PDF is generated via latex

    > jupyter nbconvert mynotebook.ipynb --to pdf

    You can get (and serve) a Reveal.js-powered slideshow

    > jupyter nbconvert myslides.ipynb --to slides --post serve

    Multiple notebooks can be given at the command line in a couple of
    different ways:

    > jupyter nbconvert notebook*.ipynb
    > jupyter nbconvert notebook1.ipynb notebook2.ipynb

    or you can specify the notebooks list in a config file, containing::

        c.NbConvertApp.notebooks = ["my_notebook.ipynb"]

    > jupyter nbconvert --config mycfg.py

[NbConvertApp] WARNING | pattern '1a_lezione.ipynb' matched no files
This application is used to convert notebook files (*.ipynb) to various other
formats.

WARNING: THE COMMANDLINE INTERFACE MAY CHANGE IN FUTURE RELEASES.

Options
-------

Arguments that take values are actually convenience aliases to full
Configurables, whose aliases are listed on the help line. For more information
on full configurables, see '--help-all'.

--debug
    set log level to logging.DEBUG (maximize logging output)
--generate-config
    generate default config file
-y
    Answer yes to any questions instead of prompting.
--execute
    Execute the notebook prior to export.
--allow-errors
    Continue notebook execution even if one of the cells throws an error and include the error message in the cell output (the default behaviour is to abort conversion). This flag is only relevant if '--execute' was specified, too.
--stdin
    read a single notebook file from stdin. Write the resulting notebook with default basename 'notebook.*'
--stdout
    Write notebook output to stdout instead of files.
--inplace
    Run nbconvert in place, overwriting the existing notebook (only
    relevant when converting to notebook format)
--clear-output
    Clear output of current file and save in place,
    overwriting the existing notebook.
--no-prompt
    Exclude input and output prompts from converted document.
--log-level=<Enum> (Application.log_level)
    Default: 30
    Choices: (0, 10, 20, 30, 40, 50, 'DEBUG', 'INFO', 'WARN', 'ERROR', 'CRITICAL')
    Set the log level by value or name.
--config=<Unicode> (JupyterApp.config_file)
    Default: ''
    Full path of a config file.
--to=<Unicode> (NbConvertApp.export_format)
    Default: 'html'
    The export format to be used, either one of the built-in formats, or a
    dotted object name that represents the import path for an `Exporter` class
--template=<Unicode> (TemplateExporter.template_file)
    Default: ''
    Name of the template file to use
--writer=<DottedObjectName> (NbConvertApp.writer_class)
    Default: 'FilesWriter'
    Writer class used to write the  results of the conversion
--post=<DottedOrNone> (NbConvertApp.postprocessor_class)
    Default: ''
    PostProcessor class used to write the results of the conversion
--output=<Unicode> (NbConvertApp.output_base)
    Default: ''
    overwrite base name use for output files. can only be used when converting
    one notebook at a time.
--output-dir=<Unicode> (FilesWriter.build_directory)
    Default: ''
    Directory to write output(s) to. Defaults to output to the directory of each
    notebook. To recover previous default behaviour (outputting to the current
    working directory) use . as the flag value.
--reveal-prefix=<Unicode> (SlidesExporter.reveal_url_prefix)
    Default: ''
    The URL prefix for reveal.js. This can be a a relative URL for a local copy
    of reveal.js, or point to a CDN.
    For speaker notes to work, a local reveal.js prefix must be used.
--nbformat=<Enum> (NotebookExporter.nbformat_version)
    Default: 4
    Choices: [1, 2, 3, 4]
    The nbformat version to write. Use this to downgrade notebooks.

To see all available configurables, use `--help-all`

Examples
--------

    The simplest way to use nbconvert is

    > jupyter nbconvert mynotebook.ipynb

    which will convert mynotebook.ipynb to the default format (probably HTML).

    You can specify the export format with `--to`.
    Options include ['asciidoc', 'custom', 'html', 'latex', 'markdown', 'notebook', 'pdf', 'python', 'rst', 'script', 'slides']

    > jupyter nbconvert --to latex mynotebook.ipynb

    Both HTML and LaTeX support multiple output templates. LaTeX includes
    'base', 'article' and 'report'.  HTML includes 'basic' and 'full'. You
    can specify the flavor of the format used.

    > jupyter nbconvert --to html --template basic mynotebook.ipynb

    You can also pipe the output to stdout, rather than a file

    > jupyter nbconvert mynotebook.ipynb --stdout

    PDF is generated via latex

    > jupyter nbconvert mynotebook.ipynb --to pdf

    You can get (and serve) a Reveal.js-powered slideshow

    > jupyter nbconvert myslides.ipynb --to slides --post serve

    Multiple notebooks can be given at the command line in a couple of
    different ways:

    > jupyter nbconvert notebook*.ipynb
    > jupyter nbconvert notebook1.ipynb notebook2.ipynb

    or you can specify the notebooks list in a config file, containing::

        c.NbConvertApp.notebooks = ["my_notebook.ipynb"]

    > jupyter nbconvert --config mycfg.py

In [17]:
df3 = pd.read_csv("../dati/Cork_Airport.csv", 
                 skiprows=24, 
                 usecols= ['date', 'maxtp', 'mintp', 'wdsp'],
                 parse_dates = [0],
                )
df3

            date  maxtp  mintp  wdsp
0     1962-01-01    2.8   -2.5   9.2
1     1962-01-02    2.8   -3.7   5.9
2     1962-01-03    2.3   -3.8   6.7
3     1962-01-04    6.6    0.6   4.5
4     1962-01-05    9.3    0.6  12.7
5     1962-01-06   10.3    8.7  14.8
6     1962-01-07    9.6    4.4  10.5
7     1962-01-08    9.0    1.2  15.1
8     1962-01-09    6.6    2.2  10.2
9     1962-01-10   10.4    1.4  17.5
10    1962-01-11    7.8    3.0  22.5
11    1962-01-12    6.9    1.0  18.0
12    1962-01-13    5.9    0.8  14.2
13    1962-01-14    5.6    0.0   7.6
14    1962-01-15    9.3    2.8  23.9
15    1962-01-16    7.3    0.6  23.2
16    1962-01-17    8.4    2.2  17.8
17    1962-01-18    8.1    1.7  10.6
18    1962-01-19    8.3    2.9   8.9
19    1962-01-20    9.5    6.0   8.2
20    1962-01-21    9.4    1.7  17.5
21    1962-01-22    6.7    0.6  18.2
22    1962-01-23   10.3    1.7  12.4
23    1962-01-24   10.3    7.3  21.8
24    1962-01-25   11.6    5.9  13.2
25    1962-01-26   10.1    6.5   6.5
26    1962-01-27   11.3    8.3   7.3
27    1962-01-28   10.3    7.2   1.2
28    1962-01-29    8.3    5.7   5.6
29    1962-01-30    9.1    6.1  12.7
...          ...    ...    ...   ...
20820 2019-01-02    7.5    6.3   4.8
20821 2019-01-03    7.5    6.3   7.9
20822 2019-01-04    7.6    6.1   8.1
20823 2019-01-05    8.3    6.2   6.0
20824 2019-01-06   10.0    6.6   5.4
20825 2019-01-07   11.0    9.1   8.9
20826 2019-01-08   10.1    7.2   8.6
20827 2019-01-09   10.2    7.7   3.8
20828 2019-01-10   10.7    8.3   3.4
20829 2019-01-11   10.3    7.8   4.5
20830 2019-01-12    9.9    7.6  11.0
20831 2019-01-13   10.9    7.6  13.1
20832 2019-01-14    8.8    4.6   6.8
20833 2019-01-15    9.1    4.3   9.5
20834 2019-01-16    8.4    2.2  10.8
20835 2019-01-17    5.5    1.1   8.8
20836 2019-01-18    8.3    2.6   7.6
20837 2019-01-19    8.1    3.9   5.2
20838 2019-01-20    7.2    1.9  11.3
20839 2019-01-21    6.6   -0.1   9.6
20840 2019-01-22    4.6   -0.5   7.2
20841 2019-01-23    8.8    3.6   5.2
20842 2019-01-24   10.7    8.7  13.5
20843 2019-01-25   10.6    5.5   8.5
20844 2019-01-26    9.5    3.9  17.0
20845 2019-01-27    6.4    3.0  12.6
20846 2019-01-28    6.3    2.5  11.2
20847 2019-01-29    4.0   -2.0   9.5
20848 2019-01-30    3.4   -2.1   5.0
20849 2019-01-31    6.4    1.3  10.5

[20850 rows x 4 columns]